@import '../_styleSetting';

.calendar {
    display: flex;
    flex-direction: column;
    

    width: 280px;

    &-caption {
        text-align: center;
    }

    &__weekdays {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__weekday {
        width: 40px;
        padding: 3px;

        color: $mainBrandColor;

        &:nth-child(1n+6) {
            background-color: rgba($color: #C4C4C4, $alpha: 0.1);
        }
    }

    &__weeks-body {

    }

    &__week {
        display: flex;
        justify-content: space-between;
        text-align: center;
        vertical-align: middle;

        
    }

    &__day {
        padding: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;

        &:nth-child(1n+6) {
            color: #FF9393;
            background-color: rgba($color: #C4C4C4, $alpha: 0.1);
        }

        // &:hover {
        //     background-color: $secondBrandColor;
        //     color: #ffffff;
        // }

        &-hover {
            display: block;
        
            width: 30px;
            height: 30px;

            &:hover {
                border-radius: 3px;
                background-color: $secondBrandColor;
                color: #ffffff;
            }
        }
    }

}