@import '../_styleSetting';

.nav {
    display: flex;
    justify-content: end;
    align-items: center;

    &__list {
        display: flex;
        gap: 55px;
        font-size: 20px;
    }

    &__item {
    }
}